<<div class="p-3 mb-2 bg-success text-white text-center">
    <blockquote class="blockquote">
        <p class="mb-0 fw-bold" style="color:black">"Your checkout is done, enjoy your time!"</p>
    </blockquote>
</div>

<div class="text-center mt-3">
    <a href="@Url.Action("Index", "Book")" class="btn btn-primary">Go Back to Book List</a>
</div>