@model Library.Models.Checkout

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Checkout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CheckoutID" />
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <label asp-for="BookID" class="control-label"></label>
                <select asp-for="BookID" class="form-control" asp-items="ViewBag.BookID" disabled></select>
                <span asp-validation-for="BookID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckoutDate" class="control-label"></label>
                <input asp-for="CheckoutDate" class="form-control" />
                <span asp-validation-for="CheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnedDate" class="control-label"></label>
                <input asp-for="ReturnedDate" class="form-control" />
                <span asp-validation-for="ReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty" class="control-label"></label>
                <input asp-for="Penalty" class="form-control" />
                <span asp-validation-for="Penalty" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
