@model Library.Models.Member

<h2>Delete Member</h2>

<div class="alert alert-warning">
    <h4>Are you sure you want to delete this book?</h4>
    <div>
        <p>Name: @Model.FirstName @Model.LastName</p>
        <p>phone Number: @Model.PhoneNumber</p>
        <p>Registration Date: @Model.RegistrationDate.ToString("yyyy-MM-dd")</p>
    </div>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="MemberID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>