@{
    ViewData["Title"] = "Home Page";
}


<div style="background-image: url('/images/background.png'); background-size: cover; background-position: center; height: 100vh; display: flex; align-items: center;">


    
    <div class="container text-center text-dark mt-5">
        <div class="jumbotron bg-transparent">

            <blockquote class="blockquote">
                <p class="mb-0 fw-bold" style="color:black">""That is the thing about books.They let you travel without your feet""</p>
                
            </blockquote>
            <p class="lead " style=" color:black;font-weight: bold; font-size:medium">Find your favorite books easily:</p>
            <form class="d-flex justify-content-center" method="get" asp-controller="Book" asp-action="Search">
                <input class="form-control me-2" type="search" name="query" placeholder="Search Books" aria-label="Search" style="max-width: 400px;">
                <button class="btn btn-outline-success" type="submit" style="color:darkgreen; font-weight: bold;">Search</button>
            </form>
        </div>
    </div>

       
       

      
       
    
</div>

